<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="fr_baseURL" value="" />
    <add key="adunit" value="1" />
    <add key="needLogin" value="true" />
    
    <add key="WechatDB" value="" />
    <add key="dllname" value="" />
    <add key="classname" value="" />
    
    <add key="ShsmucorpAppID" value="wx82d67efacf9e93b5" />
    <add key="ShsmucorpAppSecret" value="TMSVEj9-amfSOG-bc-K5xspHntFWWdtvG9e9hOVSVZ8" />
    <add key="ShsmucorpEncodingAESKey" value="DEwOIH0JDmjRXG6CAzmL6VhrUKq57HTWa81uOWM9xuJ" />
    <add key ="ShsmucorpToken" value=""/>
    <add key="ShsmuagientID" value="15" />
    <!-- 微信配置-->
    <add key="ShsmuisDES" value="true" />
    <add key="expires_in" value="7000000" />
  </appSettings>
  <log4net>
    <root>
      <!-- 根logger，所有其它logger都默认继承它-->
      <level value="DEBUG" />
      <!-- 只有在这个级别或之上的事件才会被记录-->
      <appender-ref ref="LogFileAppender" />
      <!--要引用的appender的名字-->
    </root>
    <logger name="log.Logging">
      <level value="DEBUG" />
    </logger>
    <!--定义日志的输出方式-->
    <!--写入回滚文件-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <!--日志文件路径，“/”与“/”作用相同，到达的目录相同，文件夹不存在则新建 -->
      <!--按文件大小方式输出时在这里指定文件名，并且当天的日志在下一天时在文件名后自动追加当天日期形成新文件。-->
      <!--按照日期形式输出时，直接连接元素DatePattern的value形成文件路径。此处使用这种方式 -->
      <!--param的名称,可以直接查对应的appender类的属性名即可,这里要查的就是RollingFileAppender类的属性 -->
      <param name="File" value="Logs\\" />
      <!--是否追加到文件-->
      <param name="AppendToFile" value="true" />
      <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name="MaxSizeRollBackups" value="-1" />
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name="RollingStyle" value="Date" />
      <!--按日期产生文件夹和文件名［在日期方式与混合方式下使用］-->
      <!--此处按日期产生文件夹，文件名固定。注意&quot; 的位置-->
      <!--<param name="DatePattern" value="yyyy-MM-dd/&quot;ReflectionLayout.log&quot;"  />-->
      <!--这是按日期产生文件夹，并在文件名前也加上日期-->
      <!--<param name="DatePattern" value="yyyyMMdd/yyyyMMdd&quot;-TimerServer.log&quot;"  />-->
      <!--这是先按日期产生文件夹，再形成下一级固定的文件夹-->
      <!--<param name="DatePattern" value="yyyyMMdd/&quot;TimerServer/TimerServer.log&quot;"  />-->
      <!--每个文件的大小。只在混合方式与文件大小方式下使用。
          超出大小后在所有文件名后自动增加正整数重新命名，数字最大的最早写入。
          可用的单位:KB|MB|GB。不要使用小数,否则会一直写入当前日志-->
      <param name="DatePattern" value="yyyy-MM-dd'.log'" />
      <param name="maximumFileSize" value="500KB" />
      <!--<datePattern value="yyyyMMdd" />
      <param name="DatePattern" value="yyyyMMdd\\yyyyMMdd'_logtest.log'" />
      <RollingStyle value="Date" />-->
      <layout type="log4net.Layout.PatternLayout">
        <!--定义appender使用的输出格式
        <param name="Header" value="[Header] "/>
        <param name="Footer" value="[Footer] "/>-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c   - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <!--定义此app使用的过滤器-->
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="4.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>